<!-- begin comments -->
<div class="comments">
  <!--Google adsence on comments-->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9194914695506719"
          crossorigin="anonymous"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-format="autorelaxed"
       data-ad-client="ca-pub-9194914695506719"
       data-ad-slot="5384350585"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div id="disqus_thread"></div>
  <script>
    (function () {
      var d = document, s = d.createElement('script');
      s.src = '//{{ site.data.settings.disqus-identifier }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</div>
<!-- end comments -->