.footer {
  position: relative;
  padding: 80px 0 40px;
  text-align: center;
  border-top: 1px solid var(--border);
  background: var(--surface);

  .contact {
    margin-bottom: 15px;
  }

  .copyright {
    a {
      color: var(--text);
      &:hover {
        color: var(--link);
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0 20px;
  }
}